{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

<!-- Estilos -->
{% block headLinks %}
<link rel="stylesheet" type='text/css' href="{% static 'css/auth.css' %}">
{% endblock %}

<!-- Contenido -->
{% block content %}
<div class="container-form mt-5  p-4 border rounded">
  <h2 class="text-center">MyLibrary</h2>
  <h3>Log in</h3>
  <form method="post" class="auth-form">
    {% csrf_token %}
    {{ form.as_div }}
    <a href="{% url 'auth:signup' %}">Create acount</a>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</div>
{% endblock %}